.nav-icon {
    width: 33px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #1f1f1f;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0px;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    top: 8px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    top: 16px;
}

.nav-icon.open span:nth-child(1),
.nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2),
.nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 8px;
}

.nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 8px;
}

.nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 15px;
}

.nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: transparentize(#fff, 0.8);
    backdrop-filter: blur(10px);
    .logo {
        display: inline-block;
        background-color: #1f1f1f;
        color: #fff;
        font-weight: 800;
        font-size: 40px;
        padding: 20px 12px 1px 12px;
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 1;
    background: #fff;
    transition: all 1.3s ease-in-out;

    &.open {
        opacity: 0;
    }
    .cover-body {
        display: flex;
        .cover-body-content {
            position: relative;
            flex: 0 0 294px;
            max-width: 294px;
            .inner {
                transform: rotate(-90deg) !important;
                position: fixed;
                width: 590px;
                bottom: 378px;
                height: 234px;
                left: 6%;
                right: 0;
                z-index: 99;
                @media (max-width: 1440px) {
                    left: -125px;
                }
                @media (max-width: 1399px) {
                    left: -58px;
                }
                @media (max-width: 1199px) {
                    left: -180px;
                }
                @media (max-width: 992px) {
                    transform: rotate(0) !important;
                    top: auto;
                    left: 24px;

                    bottom: 233px;
                    width: auto;
                    right: 24px;
                }
                h1 {
                    font-weight: 300;
                    font-size: 120px;
                    margin-bottom: 0;
                    line-height: 120px;
                    @media (max-width: 576px) {
                        font-size: 60px;
                        line-height: auto;
                    }
                }
                .sub-heading {
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 0.3em;
                    color: #000000;
                    margin-bottom: 0;
                    @media (max-width: 576px) {
                        font-size: 16px;
                    }
                }
                .date {
                    font-weight: 800;
                    font-size: 20px;
                    letter-spacing: 0.1em;
                    color: #000000;
                }
            }
        }
    }
    .cover-footer {
        background: #000;
        color: #fff;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 50px 0;
        border-radius: 0px 100px 0px 0px;
        z-index: 999;
        @media (max-width: 576px) {
            padding: 30px 0;
        }
        .to {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.3em;
            margin-bottom: 0;
            @media (max-width: 576px) {
                font-size: 13px;
            }
        }
        .guest {
            font-weight: 800;
            font-size: 32px;
            letter-spacing: 0.1em;
            margin-bottom: 0;
            @media (max-width: 576px) {
                font-size: 30px;
            }
        }
        .btn {
            border: 1px solid #ffffff;
            border-radius: 0px 20px 0px 0px;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            padding: 10px 20px;
            text-transform: uppercase;
        }
    }
    .cover-body-img {
        position: absolute;
        right: 0;
        top: 80px;
        left: 680px;
        z-index: 9;

        @media (max-width: 1440px) {
            left: 19%;
        }
        @media (max-width: 1399px) {
            left: 25%;
        }
        @media (max-width: 992px) {
            top: 0;
            bottom: 0;
            left: 0;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.navbar {
    padding: 0;
    .navbar-brand {
        padding: 0;
    }
    .nav-item {
        .nav-link {
            padding-left: 20px;
            padding-right: 20px;
            @media (max-width: 992px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        &:last-child {
            .nav-link {
                padding-right: 0;
            }
        }
    }
}
.navbar-nav {
    .nav-link {
        text-transform: uppercase;
        font-size: 20px;
        color: #1f1f1f;
        font-weight: 500;
    }
}

.img-heading {
    height: 100vh;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
